asgiref
aspose-words
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-environ
django-livereload-server
django-livesync
django-sendfile
idna
numpy
oauthlib
opencv-python
Pillow
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tk
tornado
tzdata
urllib3
watchdog
websocket-client
