{% extends 'main/base.html' %}{% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto moveable">
      <div class="img_format">
        <p class="ps-4 img_format_p">Select the file format you have</p>
        <div class="container">
          <div class="row">
            <div class="col p-2">
              <span class="format">png</span>
            </div>
            <div class="col p-2">
              <span class="format">jpeg</span>
            </div>
            <div class="col p-2">
              <span class="format">jpg</span>
            </div>
            <div class="col p-2">
              <span class="format">bmp</span>
            </div>
          </div>
          <div class="row">
            <div class="col p-2">
              <span class="format">gif</span>
            </div>
            <div class="col p-2">
              <span class="format">tiff</span>
            </div>
            <div class="col p-2">
              <span class="format">eps</span>
            </div>
            <div class="col p-2">
              <span class="format">tif</span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h4 class="h_4">
          Convert
          <span class="_from">____</span>
          <span>to</span>
          <span class="_to">____</span>
        </h4>
        <button class="btn mb-3 download">Download <i class="fas fa-angle-double-down"></i> </button>
      </div>
      <div class="container shadow p-4 bg-body rounded">
        <div class="drag-area">
          <button class="btn drop_btn">
            <i class="fas fa-file-image"></i> Select File
          </button>
          <p class="drag_p">
            Or you could just drop the files here. 5MB max. If you want more
            just
            <span style="color: #006042; font-weight: 700">sign up</span> and
            we'll increase your limit.
          </p>
          <input type="file" name="myfile" hidden />
        </div>
      </div>
      <div class="container shadow p-4 bg-body rounded bt_cn">
        <div class="full_img">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img1.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img2.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img3.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img4.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img5.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img6.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img7.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <div class="col">
                <div class="img_div">
                  <i class="fas fa-times"></i>
                  <img
                    src="{% static 'main/img/img8.png' %}"
                    class="images"
                    alt="display image"
                  />
                </div>
              </div>
              <!-- <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie("csrftoken");
  //selecting all required elements
  const dropArea = document.querySelector(".drag-area"),
    button = dropArea.querySelector(".drop_btn"),
    input = dropArea.querySelector("input"),
    format_type = document.querySelectorAll(".format");
  const download = document.querySelector(".download");
  download.style.display = "none";

  let file; //this is a global variable and we'll use it inside multiple functions
  const _to = document.querySelector("._to").innerHTML;
  const _from = document.querySelector("._from").innerHTML;
  let count = 0;

  $(document).ready(function () {
    $(".format").each((i, el) => {
      $(el).on("click", () => {
        // this allow only two elements
        // to have the active_f class at a time
        var count = 0;
        for (let j=0; j <= $(".format").length - 1; j++) {
          const wu = $(".format")[j]
          if ($(wu).hasClass("active_f")) {
            count++;
          }
        }

        
        if (count == 2 && $(el).hasClass("active_f")) {
          $(el).toggleClass("active_f");
          if ($(el).hasClass("active_f")) {
            $(el).css("color", "rgb(96, 0, 0)");
          } else {
            $(el).css("color", "#006042");
            $("._to").css("color", "#006042");
            $("._to").text("____")
          }
          
        } else if (count == 2) {
          alert("Selection completed");
        }else if (count == 1) {
          $(el).toggleClass("active_f");
          if ($(el).hasClass("active_f")) {
            $(el).css("color", "rgb(96, 0, 0)");
            $("._to").css("color", "rgb(96, 0, 0)");
            $("._to").text($(el).text())
          } else {
            $(el).css("color", "#006042");
            $("._from").css("color", "#006042");
            $("._from").text("____")
          }
        } else if (count == 0) {
          $(el).toggleClass("active_f");
          if ($(el).hasClass("active_f")) {
            $(el).css("color", "rgb(96, 0, 0)");
            $("._from").css("color", "rgb(96, 0, 0)")
            $("._from").text($(el).text())
          } else {
            $(el).css("color", "#006042");
          }
        }else {
          $(el).toggleClass("active_f");
          if ($(el).hasClass("active_f")) {
            $(el).css("color", "rgb(96, 0, 0)");
          } else {
            $(el).css("color", "#006042");
          }
        }

      });
    });
  });
 

  button.onclick = () => {
    input.click(); //if user click on the button then the input also clicked
  };

  input.addEventListener("change", function () {
    //getting user select file and [0] this means if user select multiple files then we'll select only the first one
    file = this.files[0];
    dropArea.classList.add("active");
    showFile(); //calling function
  });

  //If user Drag File Over DropArea
  dropArea.addEventListener("dragover", (event) => {
    event.preventDefault(); //preventing from default behaviour
    dropArea.classList.add("active");
  });

  //If user leave dragged File from DropArea
  dropArea.addEventListener("dragleave", () => {
    dropArea.classList.remove("active");
  });

  //If user drop File on DropArea
  dropArea.addEventListener("drop", (event) => {
    event.preventDefault(); //preventing from default behaviour
    //getting user select file and [0] this means if user select multiple files then we'll select only the first one
    file = event.dataTransfer.files[0];
    showFile(); //calling function
  });
  

  function showFile() {
    let fileType = file.type; //getting selected file type
    let validExtensions = [
      "image/jpeg",
      "image/jpg",
      "image/png",
      "image/tiff",
      "image/tif",
      "image/bmp",
      "image/eps",
      "image/gif",
    ]; //adding some valid image extensions in array
    if (validExtensions.includes(fileType)) {
      //if user selected file is an image file
      let fileReader = new FileReader(); //creating new FileReader object
      fileReader.onload = () => {
        let fileURL = fileReader.result; //passing user file source in fileURL variable
        // UNCOMMENT THIS BELOW LINE. I GOT AN ERROR WHILE UPLOADING THIS POST SO I COMMENTED IT
        let imgTag = `<img src="${fileURL}" alt="image">`; //creating an img tag and passing user selected file source inside src attribute
        dropArea.innerHTML = imgTag; //adding that created img tag inside dropArea container
      };
      fileReader.readAsDataURL(file);
    } else {
      alert("This is not an Image File!");
      dropArea.classList.remove("active");
    }
    download.style.display = "inline";
  }

  download.addEventListener("click", async (ev) => {
    ev.preventDefault();
    var image_type = document.querySelector("._to").innerHTML;
    const MAX_SIZE = 5 * 1024 * 1024;
    const check = file.size < MAX_SIZE
    const auth_user  = "{{user.is_authenticated}}" == "True"
    if (image_type == "____") {
      alert("Select a file format")
    }else if (check == true && auth_user == false ) {
      var formData = new FormData();
      formData.append("image_type", image_type);
      formData.append("image", file);
  
      const result = await fetch("", {
        headers: {
          "X-CSRFToken": csrftoken,
        },
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((json) => {
          let file = json.file;
          let filename = json.filename;
          window.location.href = `download/${file}/${filename}`;
        })
        .catch((error) => console.log(error));
    }else if (check == false && auth_user == true ) {
      var formData = new FormData();
      formData.append("image_type", image_type);
      formData.append("image", file);
  
      const result = await fetch("", {
        headers: {
          "X-CSRFToken": csrftoken,
        },
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((json) => {
          let file = json.file;
          let filename = json.filename;
          window.location.href = `download/${file}/${filename}`;
        })
        .catch((error) => console.log(error));
    }else {
      $('#staticBackdrop2').modal('show');
    }
  });
</script>
{% endblock content %}
